## ASSIGNMENT 1

In [260]:
import pandas as pd

In [261]:
filename = './data/Top 100 Movies of All Time - Rotten Tomatoes.html'

In [262]:
from bs4 import BeautifulSoup

In [263]:
with open(filename, 'rb') as fp:
    soup = BeautifulSoup(fp, 'html.parser')

In [269]:
name = soup.find('table',{'class':"table"})
movies= name.findAll('a')
ratings = name.findAll('span',{'class':"tMeterScore"})
ranks = name.findAll('td',{'class':"bold"})
reviews = name.findAll('td',{'class':"right hidden-xs"})

movie_list=[]
rating_list=[]
rank_list=[]
review_list=[]

for movie in movies:
    movie_list.append(movie.contents[0][2:])
    
for rating in ratings:
    rating_list.append(rating.contents[0])
    
for rank in ranks:
    rank_list.append(rank.contents[0])
    
for review in reviews:
    review_list.append(review.contents[0])

In [270]:
df = pd.DataFrame({'ratings': rating_list,
                   'movie name': movie_list,
                  'number of reviews': review_list}, index=rank_list)
print('Rotten Tomatoes top 100 movies:')
display(df)

Rotten Tomatoes top 100 movies:

     ratings                                   movie name number of reviews
1.       96%                         Black Panther (2018)               518
2.       98%               Parasite (Gisaengchung) (2019)               457
3.       94%                     Avengers: Endgame (2019)               537
4.       97%                            Knives Out (2019)               460
5.       93%                                    Us (2019)               542
...      ...                                          ...               ...
96.      98%                                  Jaws (1975)                90
97.      98%                                    Up (2009)               298
98.      98%             The Bride of Frankenstein (1935)                47
99.      98%                The Godfather, Part II (1974)                85
100.     97%             Won't You Be My Neighbor? (2018)               252

[100 rows x 3 columns]